/* Login  */

body, html {
    background-color: #f3f3f3;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Spline Sans', sans-serif; 
    margin: 0px;
    padding: 0px;
}

label{
    display: block;
}

.transition{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Margin defined */

.mtop8{
    margin-top: 8px !important;
}

.mtop16{
    margin-top: 16px !important;
}

.mtop32{
    margin-top: 32px !important;
}

.mtop45{
    margin-top: 45px;
}

/* Margin defined */

.border-shadow{
    box-shadow: 2px 6px 13px 5px rgba(0,0,0,0.15);
    -webkit-box-shadow: 2px 6px 13px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 2px 6px 13px 5px rgba(0,0,0,0.15);
}

.page{
    background: linear-gradient(270deg, #e0e8e6, #b1acac, #f5eaea);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}
    .box{
        background-color: #fff;
        border-bottom: 4px solid #333;
        border-radius: 4px;
        padding: 32px;
        width: 300px;
    }
    .logo {
        display: block;
        width: 100%;
    }
    img{
        display: block;
        margin: 0px auto;
        width: 50%;
    }
    h2.title{
        color: #2c2c2c;
        display: block;
        font-size: 1.5em;
        font-weight: 500;
        margin: 0px;
        margin-top: 16px;
        padding: 0px;
        text-align: center;
    }

    .box .form a{
        color: #2c2c2c;
        margin-right: 5px;
        margin-top: 4px;
        margin-bottom: 10px;
        float: right;
        text-decoration: none;
    }

    .group{
        position: relative;
        width: 100%;
    }

    input{
        border: 1px solid #cccc;
        border-radius: 4px;
        box-sizing: border-box;
        display: block;
        padding: 16px;
        padding-left: 50px;
        width: 100%;
    }
    input:focus{
        border: 1px solid #333;
        outline: none;
    }

    i{
        color: #2c2c2c;
        font-size: 1.4em;
        left: 18px;
        position: absolute;
        top: 13px;
        z-index: 1;
    }

    .btn{
        display: block;
        background-color: #333;
        border-radius: 4px;
        color: #fff;
        border: 1px solid #333;
        font-weight: 500;
        font-size: 1.2em;
        padding: 12px;
        width: 100%;
    }

    .btn:hover{
        background-color: #fff;
        color: #333;
    }

    /* Web app responsive */
.page_app{
    background-color: #fff !important;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

    .box_app {
        background-color: transparent !important;
        border-bottom: 0px !important;
        width: 100% !important;
    }

    .logo_app img {
        width: 60%;
    }

    .group-phone i {
        top: 10px;
    }


    /* Animacion background  */

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

    /* Loader action */
    .loader_action{
        align-items: center;
        background-color: rgba(0,0,0, .5);
        display: none;
        height: 100vh;
        justify-content: center;
        position: fixed;
        width: 100%;
        z-index: 999;
    }

    .action{
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 8px;
        box-sizing: border-box;
        justify-content: center;
        padding: 16px;
        overflow: hidden;
        width: 330px;
    }

    .col{
        color: #333;
        display: block;
        flex: initial;
        float: left;
    }

    .col:first-child{
        width: 40px;
    }

    .col:last-child{
        margin-left: 5%;
        position: relative;
        width: calc(95% - 40px);
    }

    .col img{
        display: block;
        width: 100%;
    }

.loader_action_animation_show{
    animation-timing-function: ease-in-out;
    animation: action_show 0.3s forwards;
}

.loader_action_animation_hide{
    animation-timing-function: ease-in-out;
    animation: action_hide 0.3s forwards;
}

@keyframes action_show {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes action_hide {
    0%{opacity: 1;}
    100%{opacity: 0;}
}

    /* Loader action end */
